@import '../../../../config';

.nav-item {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.nav-item.is-disable {
  opacity: 0.3;
  pointer-events: none;
  cursor: auto;
}

.nav-item.mod-active:after {
  content: '';
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: $size-half;
  background-color: $azure;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.nav-item__name {
  display: block;
  font-size: $font-16;
  color: $grey-a87;
}

.nav-item:hover {
  .nav-item__name {
    color: $azure;
  }
  .nav-item__icon-wrap {
    .nav-item__icon {
      svg {
        fill: $azure;
      }
    }
  }
}

.nav-item__icon-wrap {
  position: relative;
  width: $size-3x;
  height: $size-3x;
}

.nav-item__amt {
  position: absolute;
  top: -8px;
  left: 16px;
  height: $size-2x;
  padding: 0 6px;
  border-radius: 8px;
  background-color: $azure;
  font-size: $font-12;
  line-height: $size-2x;
  color: $white;
  user-select: none;
  z-index: 1;
}
